/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	position: relative;
}
nav {
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: 3px solid #ff004c;
	background-color: aliceblue;
	z-index: 1000;
}
.nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	&__logo,
	&__menu,
	&__social-media {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 0;
	}
	&__menu {
		flex-direction: column;
	}
	&__social-media {
		max-width: 70px;
		justify-content: space-evenly;
		margin: 1rem auto;
	}
}
.logo {
	&__icon {
		width: 35px;
		height: 35px;
		// margin-right: 10px;
	}
	&__text {
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		font-family: "Roboto", sans-serif;
		&--red {
			display: block;
			color: #ff004c;
			font-size: 8px;
		}
	}
}

.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&--hide {
		display: none;
	}
	&__burger {
		width: 5%;
		height: 23px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		color: #808080;
		border: none;
		&-i {
			position: absolute;
		}
		&--hide {
			transform: translate(-10000px);
		}
	}
	&__link {
		border-radius: 50px;
		text-decoration: none;
	}
	&__item {
		width: 100%;
		padding: 0.8rem;
		color: rgba(128, 128, 128, 0.7);
		text-align: center;
		text-transform: uppercase;
		font-size: 1rem;
		font-family: "Roboto", sans-serif;
		letter-spacing: 3px;
		transition: box-shadow 0.3s, border-radius 0.3s;
		&:hover {
			border-radius: 50px;
			box-shadow: 0px 2px 3px 0px rgba(255, 53, 85, 0.5);
		}
	}
}
.social-media {
	&__link {
		background: none;
	}
	&__icon {
		padding: 3px;
		color: #808080;
		font-size: 2rem;
	}
}

.start {
	width: 100vw;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	&__background {
		width: 100%;
		height: 100%;
		background-image: url("../images/mezczyzna-lapiacy-aparat-nikon.jpg");
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
	}
}

.about-me {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10% auto;
	margin-top: 20%;

	&__img {
		width: 100%;
		max-width: 550px;
		margin: 0 auto;
		object-fit: cover;
	}
	&__info {
		display: block;
		width: 100%;
		height: 100%;
		margin: 3rem 0;
		padding: 0.5rem;
	}
	&__header {
		width: 100%;
		margin: 2rem auto;
		padding-bottom: 3rem;
		border-bottom: 3px solid #ff004c;
		text-align: center;
		text-transform: uppercase;
		font-size: 2.5rem;
		font-weight: bolder;
		letter-spacing: 7px;
	}
	&__text {
		padding: 1rem 0;
		line-height: 2.5rem;
		&:first-of-type {
			padding-top: 3rem;
		}
	}
}

.galery {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
	&__header {
		padding-bottom: 3rem;
		border-bottom: 3px solid #ff004c;
		text-align: center;
		text-transform: uppercase;
		font-size: 2.5rem;
		font-weight: bolder;
		letter-spacing: 7px;
		margin-bottom: 5rem;
	}
}
.slider {
	max-width: 90%;
	position: relative;
	overflow: hidden;
	&__box {
		width: 100%;
		display: flex;
		transform: translateX(0);
		transition: transform 0.5s;
	}
	&__img {
		min-width: 100%;
		padding: 0 40px;
	}
	&__btn {
		height: 100%;
		position: absolute;
		top: 50%;
		padding: 0.8rem 0.8rem;
		border: none;
		transform: translateY(-50%);
		font-size: 40px;
		font-weight: bold;
		background: none;
		color: gray;
		background-color: white;
		cursor: pointer;
		&:hover &-span {
			color: #ff004c;
			transform: scale(0.8);
		}
		&--left {
			left: 0;
		}
		&--right {
			right: 0;
		}
		&-span {
			display: block;
			transition: transform 0.3s;
		}
	}
}
.contact {
	width: 90vw;
	display: flex;
	left: 50%;
	top: 50%;
	position: fixed;
	transform: translate(-50%);
	&__form {
		width: 100vw;
		max-width: 500px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 50% auto;
		padding: 1rem;
		border-radius: 25px;
		box-shadow: 0px 0px 50px 0px rgba(255, 0, 76, 0.75);
		position: absolute;
	}
	&__x {
		width: 100%;
		text-align: right;
		color: #808080;
		font-size: 2.4rem;
		font-weight: bold;
		&-text {
			cursor: pointer;
		}
	}
	&__label {
		width: 100%;
		padding: 1.4rem 0;
		color: rgba(189, 189, 189, 0.7);
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 1.3rem;
	}
	&__input {
		width: 100%;
		padding: 0.5rem 0.3rem;
		padding-left: 2rem;
		color: #000000;
		border-color: rgba(189, 189, 189, 0.7);
		border-radius: 5px;
		&::placeholder {
			color: rgba(189, 189, 189, 0.7);
			letter-spacing: 5px;
		}
	}
	&__text {
		width: 100%;
		padding: 1rem;
		&--red {
			color: rgba(255, 53, 85, 0.5);
		}
	}
	&__btn-send {
		width: 100%;
		background-color: #ff004c;
		color: white;
		text-transform: uppercase;
		border: none;
		padding: 10px;
		margin: 1rem 0;
		border-radius: 5px;
	}
	&__error-text {
		text-align: center;
		color: #ff004c;
		font-size: 11px;
		padding-top: 0.5rem;
		padding-bottom: 4rem;
		&--hide {
			transform: translate(-10000px);
		}
	}
	&-rules {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 1rem 0;
		&__agreement {
			width: 100%;
			left: 0;
		}
		&__text {
			font-size: 11px;
		}
	}
	&--hide {
		transform: translate(-10000px);
	}
}

.footer {
	width: 100%;
	height: 75px;
	margin: 0;
	padding: 0;
	background-color: #c0c0c0;
}

@media (min-width: 576px) {
	nav {
		padding: 0;
		position: fixed;
	}
	.nav {
		flex-direction: row;

		&__logo {
			width: 25%;
		}
		&__menu {
			width: 60%;
			align-items: top;
		}
		&__social-media {
			width: 10%;
		}
	}
	.menu {
		display: flex;
		flex-direction: row;
		justify-content: left;
		&__link {
			padding-right: 14px;
		}
		&__burger {
			display: none;
		}
	}
	.start {
		height: 60vh;
	}
	.about-me {
		width: 75%;
	}
}
.contact {
	min-width: 40%;
	max-width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4rem auto;
	&__form {
		width: 100%;
	}
	&__label,
	&__input,
	&__text,
	&__btn-send,
	&__error-text,
	&-rules {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.nav {
		flex-direction: row;
		&__logo,
		&__menu,
		&__social-media {
			flex-direction: row;
		}
		.menu {
			display: flex;
			align-items: center;
			justify-content: left;
			&__link {
				padding-right: 30px;
			}
			&__burger {
				display: none;
			}
		}
	}
	.start__background {
		height: 100%;
	}
	.galery__header,
	.about-me__header {
		font-size: 4rem;
	}
}
@media (min-width: 992px) {
	.start {
		height: 60vh;
	}
	.start__background {
		height: 100%;
	}

	.about-me {
		width: 100%;
		flex-direction: row-reverse;
		justify-content: left;
		align-items: center;
		&__info {
			width: 40%;
			display: flex;
			align-items: center;
			flex-direction: column;
			margin: 0 50px;
		}
		&__header {
			text-align: left;
		}
	}
	.about-me {
		align-items: start;
		&__img {
			min-width: 60%;
		}
	}
}
@media (min-width: 1400px) {
	.start__background {
		height: 130%;
	}
}
